<ion-header>
  <ion-toolbar>
    <ion-title>Demon Slayer Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Loading -->
  <div *ngIf="loading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <!-- Error -->
  <div *ngIf="errorMsg" class="ion-text-center ion-padding">{{ errorMsg }}</div>

  <!-- GRID DE CARDS -->
  <ion-grid *ngIf="!loading && !errorMsg">
    <ion-row>
      <ion-col
        size="12"
        size-md="4"
        size-lg="4"
        *ngFor="let c of characters; trackBy: trackById"
      >
        <ion-card class="character-card" [ngClass]="getAffiliationCardClass(c)">
          <ion-img class="character-img" [src]="c.img" [alt]="c.name"></ion-img>

          <ion-card-header>
            <ion-card-title>{{ c.name }}</ion-card-title>
            <ion-card-subtitle>{{ c.race }}</ion-card-subtitle>
            <ion-badge
              class="affiliation-badge"
              [ngClass]="getAffiliationClass(c)"
            >
              {{ getAffiliationLabel(c) }}
            </ion-badge>
          </ion-card-header>

          <ion-card-content>
            <p class="desc">{{ c.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
