<ion-header>
  <ion-toolbar>
    <ion-title>Demon Slayer Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (initialLoading() && characters().length === 0) {
  <div class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  } @if (errorMsg) {
  <div class="ion-text-center ion-padding">{{ errorMsg }}</div>
  } @if (characters().length > 0) {
  <ion-grid>
    <ion-row>
      @for (c of characters(); track c.id) {
      <ion-col size="12" size-md="4" size-lg="4">
        <ion-card class="character-card" [ngClass]="getAffiliationCardClass(c)">
          <ion-img class="character-img" [src]="c.img" [alt]="c.name"></ion-img>

          <ion-card-header>
            <ion-card-title>{{ c.name }}</ion-card-title>
            <ion-card-subtitle>{{ c.race }}</ion-card-subtitle>

            <ion-badge
              class="affiliation-badge"
              [ngClass]="getAffiliationClass(c)"
            >
              {{ getAffiliationLabel(c) }}
            </ion-badge>
          </ion-card-header>

          <ion-card-content>
            <p class="desc">{{ c.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
  }

  <ion-infinite-scroll
    threshold="150px"
    (ionInfinite)="loadMore($event)"
    [disabled]="infiniteDisabled"
  >
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Carregando mais personagens..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
