.home-hero {
  --background: none;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("assets/images/hero-bg.jpg") center/cover no-repeat;
}

.hero-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.subtitle {
  color: #ddd;
  margin-bottom: 20px;
}

.see-more-btn {
  --background: #dd0031; /* vermelho Angular */
  --border-radius: 30px;
}
